// Place all the styles related to the memories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  padding-top: 50px;
}

#green-sec {
    color:#fff;
    background-color:#8AC949; /*#2E822E*/
}

#lightgreen-sec {
    background-color:#62A462;  /*#AFCAAF*/
    color:#fff;
}

#lightlightgreen-sec {
    background-color:#AAC9A1;
    color:#fff;
}

.sec-margin-top {
  margin-top: 80px;
}

input#memory_name {
  color: #000;
}

textarea#memory_subtitle {
  color: #000;
}

textarea#memory_description {
  color: #000;
}
